<div class="profile-container" id="login">

  <h2 class="title">Login</h2>

  <form action="/auth/login" method="POST" class="input-form"id="form-container">
    <label class="form-label" for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Your username">

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
  
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Login</button>

    <p class="account-message">Don't have an account yet?</p>
    <a href="/auth/signup">Sign Up!</a>
  </form>
  
</div>