<div class="profile-container" id="profile">

  <h2 class="title">Your profile</h2>

  <h4>Username: {{this.username}}</h4>
  <h4>Email: {{this.email}}</h4>

  <div class="button-wrapper">
    <form action="/auth/edit">
      <button>edit profile</button>
    </form>
    <form action="/auth/delete">
      <button>delete account</button>
    </form>
  </div>

</div>