body {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.4rem;
    background: #000000;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
}

h2 {
    text-align: center;
}

h3 {
}

button {
    color: #03396c;
    text-transform: uppercase;
    background: #ffffff;
    padding: 15px;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 2px;
    display: inline-block;
}

button:hover {
    color: #000000;
    border-radius: 40px;
    border-color: #000000;
    transition: all 0.3s ease 0s;
}

.attending-event-button {
    background: #42cd36;
}

//////////////////////////////////// Nav bar
.nav-bar {
    color: white;
    font-family: Lato;
    font-size: 3rem;
    //    font-size: calc(100% + 1.8vw);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 4;
    padding: 20px 0px;
}

.nav {
    width: 15%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
}

.nav a {
    margin: 0;
    text-decoration: none;
}

ion-icon {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    align-self: center;
}

//////////////////////////////////// User bar

.user-bar {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.8rem;
    background-color: #2f5858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px 20px 50px;
    margin-bottom: 3px;
}
///START: "Filter Locations"  button
.filter-button-wrapper .btn {
    margin: 20px 50px;
}
.filter-button-wrapper {
    position: absolute;
    top: 112px;
}

.user-filter-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.filter-wrapper {
    margin: 0;
    height: 50px;
    width: 220px;
}
///END: "Filter Locations"  button

.user-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.user-bar a {
    color: #ffffff;
    margin: 0px 10px;
    text-decoration: none;
}

//////////////////////////////////// Index.hbs

//Collapse element for location filter
.filter-locations-wrapper {
    color: #ffffff;
    font-family: Lato;
    font-size: 1rem;
    background-color: #666370;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    margin-bottom: 3px;
}

#filter-location-box {
    margin: 20px;
}

.main-container {
    display: flex;
}

.event-container {
    color: #ffffff;
    font-family: Lato;
    background-color: #0e9aa7;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.location {
    font-size: 1.4rem;
    font-weight: 600;
}
.event {
    font-size: 3rem;
    font-size: calc(100% + 1.8vw);
    font-weight: 600;
}
.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
description {
    font-size: 1rem;
    font-weight: 300;
    margin: 0px 10px;
}

//////////////////////////////////// Signup.hbs / Login.hbs

.button-wrapper {
    display: flex;
}

.profile-container {
    min-height: calc(100vh - 174px - 100px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    background-color: #3da4ab;
}

#signup {
    background-color: #03396c;
}

#profile {
    background-color: #6b5b95;
}

#edit-profile {
    background-color: #3e4444;
}

#edit-event {
    background-color: #ff5733;
}

.profile-container .title {
    margin-bottom: 40px;
}

#form-container,
.username-wrapper,
.password-wrapper,
.email-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input,
select,
textarea {
    font-size: 1rem;
    margin-bottom: 30px;
    padding: 10px;
}

button {
    color: #03396c;
    text-transform: uppercase;
    background: #ffffff;
    padding: 15px;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 2px;
    display: inline-block;
}

button:hover {
    color: #000000;
    border-radius: 40px;
    border-color: #000000;
    transition: all 0.3s ease 0s;
}

#form-container a {
    font-size: 1.8rem;
    text-decoration: underline;
}

.error-message {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
}

//////////////////////////////////// Your events page
.col-3-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col-3 {
    width: 30vw;
    text-align: center;
}
