body {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.4rem;
    background: #000000;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
}

///ion-icons general style

ion-icon {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    align-self: center;
}

/// Button Style

button {
    color: #03396c;
    text-transform: uppercase;
    background: #ffffff;
    padding: 15px;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 2px;
    display: inline-block;
}

button:hover {
    color: #000000;
    border-radius: 40px;
    border-color: #000000;
    transition: all 0.3s ease 0s;
}

/// Event container
.event-column-left,
.event-column-right {
    width: 20vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-column-center {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//////////////////////////////////// Nav bar (today / tomorrow / ...)
.nav-bar {
    color: white;
    font-family: Lato;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 4;
    padding: 20px 0px;
}

.nav {
    width: 40vw;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
}

.nav a {
    font-size: 1rem;
    font-size: calc(100% + 1vw);
    margin: 0;
    text-decoration: none;
    text-align: center;
}

//////////////////////////////////// User bar

.user-bar {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.8rem;
    background-color: #2f5858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px 20px 50px;
    margin-bottom: 3px;
}
///START: "Filter Locations"  button
.btn {
    margin: 20px 50px;
    position: absolute;
    top: 10px;
}

.filter-wrapper {
    margin: 0;
    height: 50px;
    width: 220px;
}

.filter-form-wrapper {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 20px;
}

#filter-location-box {
    display: flex;
    justify-content: center;
    padding: 4vh 4vw;
}

///END: "Filter Locations"  button

.user-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.user-bar a {
    color: #ffffff;
    margin: 0px 10px;
    text-decoration: none;
}

//////////////////////////////////// Index.hbs

// slider buttons
.n-slider--nav {
    display: none;
}

.n-slider--arrow {
    position: absolute;
    top: 45px !important;
    margin: 0px 10vw !important;
}

//Collapse element for location filter
.filter-locations-wrapper {
    color: #ffffff;
    font-family: Lato;
    font-size: 1rem;
    background-color: #666370;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    margin-bottom: 3px;
}

// container for today / tomorrow / day after tomorrow
.event-container {
    font-family: Lato;
    width: 100%;
    min-height: 200px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.attending-event-button {
    background: #42cd36;
}

.today {
    color: #ffffff;
    background-color: #588c7e;
}

.tomorrow {
    color: #000000;
    background-color: #f2e394;
}

.dayaftertomorrow {
    color: #000000;
    background-color: #f2ae72;
}

.location {
    font-size: 1.4rem;
    font-weight: 600;
}
.event {
    font-size: 1.5rem;
    font-size: calc(100% + 1.5vw);
    font-weight: 600;
}

.description {
    font-size: 1rem;
    font-weight: 300;
    margin: 0px 10px;
}

//////////////////////////////////// HBS for signup / login / edit /  profile

.profile-container {
    min-height: calc(100vh - 174px - 100px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
}

#login {
    background-color: #3da4ab;
}

#signup {
    background-color: #03396c;
}

#profile {
    background-color: #6b5b95;
}

#edit-profile {
    background-color: #3e4444;
}

#edit-event {
    background-color: #ff5733;
}

.profile-container .title {
    margin-bottom: 40px;
}

#form-container,
.username-wrapper,
.password-wrapper,
.email-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input,
select,
textarea {
    font-size: 1rem;
    margin-bottom: 30px;
    padding: 10px;
}

#form-container a {
    font-size: 1.8rem;
    text-decoration: underline;
}

.error-message {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
}

//////////////////////////////////// yourevents.hbs

//////////////////////////////////// Who is going

.event-whoisgoing {
    background-color: #bfa1d8;
    color: #000000;
}

.attending-users {
    margin: 30px 0;
    background-color: #bfa1d8;
    padding: 25px;
    text-align: center;
    color: #000000;
}

.typewriter {
    margin: 40px 0;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 6s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.title-whoisgoing {
    margin: 10px 0;
}

.button-back {
    display: flex;
    justify-content: center;
}
