<h2>Add a new event</h2>

<form action="/yourevents/add" method="post">

  <label for="location">Location: </label>
  <select name="location">
    <option value="Berghain">Berghain</option>
    <option value="Watergate">Watergate</option>
    <option value="Sisyphos">Sisyphos</option>
    <option value="Wilde Renate">Wilde Renate</option>
  </select>

  <label for="event">Event name: </label>
  <input type="text" name="event">

  <label for="date">Date: </label>
  <input type="date" name="date">

  <label for="door">Door: </label>
  <input type="time" name="door">

  <label for="begin">Begin: </label>
  <input type="time" name="begin">

  <label for="end">End: </label>
  <input type="time" name="end">

  <label for="price">Price: </label>
  <input type="number" name="price">

  <button type="submit">Add event</button>
</form>